.but {
    padding: 10px 18px;
    border-radius: 12px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s ease,
        color 0.2s ease,
        border-color 0.2s ease;
}

.but-primary {
    background: #81e4a7;
    color: #0f172a;
    border: 1px solid #e5e7eb;

}

.but-primary:hover {
    background: #07e560;

}

.but-secondary {
    background: #81e4a7;
    border: 1px solid #e5e7eb;
    color: #0f172a;
}

.but-secondary:hover {
    background: #06b14a;
}

.but-danger {
    background: #81e4a7;
    border: 1px solid #e5e7eb;
    color: #0f172a;
}

.but-danger:hover {
    background: #037a33;
        color:#e1f3e9;

}

.but:active {
    transform: scale(1.1);
}

.but-disabled {
    opacity: 0.4;
}