.but {
    padding: 10px 18px;
    border-radius: 12px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s ease,
        color 0.2s ease,
        border-color 0.2s ease;
    background: #3f7554;
    color: #ffffff;
    border: 1px solid #e5e7eb;
}

.but:hover {
    background: #1a2d21;
}


.but:active {
    transform: scale(1.1);
}

.but-disabled {
    opacity: 0.4;
}