.page {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #549e76;
    position: relative;
}

/* HERO TEXT */
.up {
    position: absolute;
    left: 40px;
    top: 40px;
}

.up h1 {
    color: #e0f4e3;
    margin-bottom: 10px;
    font-size: 94px;
    animation: fadeInUp 0.8s ease;
}

.up p {
    color: #e0f4e3;
    font-size: 24px;
    margin-left: 50px;
    animation: fadeInUp 1.2s ease;
}

/* LOGIN CARD */
.login-container {
    position: relative;
    width: 400px;
    padding: 30px;
    border: 1px solid #003414;
    border-radius: 15px;
    background-color: #e0ffe7;
    animation: fadeInUp 0.8s ease;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.login-container label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-container input:focus {
    border-color: #013d18;
    outline: none;
}

.login-container .btnn {
    width: 100%;
    padding: 10px;
    border: #013d18 2px solid;
    border-radius: 4px;
    background-color: transparent;
    color: #003414;
    cursor: pointer;
}

.login-container .btnn:hover {
    background-color: #003414;
    color: #e1eee3;
}

.signup {
    position: absolute;
    right: 10px;
    top: 10px;
    background: transparent;
    width: 80px;
    height: 30px;
    border: 2px solid #003414;
    border-radius: 15px;
    color: #003414;
    cursor: pointer;
}

.signup:hover {
    background-color: #003414;
    color: #e1eee3;
}

/* ANIMATION */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width: 768px) {

    .page {
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .up {
        position: static;         
        text-align: center;
        margin-bottom: 20px;
    }

    .up h1 {
        font-size: 40px;          
    }

    .up p {
        font-size: 16px;
        margin-left: 0;
    }

    .login-container {
        width: 100%;
        max-width: 350px;
    }
}