.panel {
    z-index: 1;
    height: 30vh;
    width: 30rem;
    position: absolute;
    border: 1px solid #166534;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #e0ffe7;
    top: 34.4rem;
    right: 5rem;
    opacity: 0;
    transform: translateX(-24rem) scale(0.95);
    transition:
        transform 0.75s cubic-bezier(0.22, 1, 0.36, 1),
        opacity 0.75s ease;
    pointer-events: none;
}

.panel.open {
    opacity: 1;
    transform: translateX(0) scale(1);
    pointer-events: auto;
}

.upper {
    height: 3rem;
    width: 30rem;
    background-color: #166534;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    padding: 13px;
    color: #e0ffe7;
    transition: height 0.3s ease;
}

.addlog {
    /* background-color: #e0ffe7; */
    width: 27rem;
    height: 4rem;
    position: absolute;
    top: 3rem;
    left: 1rem;
    /* cursor: pointer; */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;

}

.visible {
    opacity: 1;
    pointer-events: auto;
}

.loginput {
    width: 10rem;
    height: 2.3rem;
    position: absolute;
    right: 9.1rem;
    top: 0;
    box-sizing: border-box;
    padding: 10px;
    background-color: #e0ffe7;
    border: 1px solid #166534;
    border-radius: 5px;
    color: #166534; 
}

.fileinput {
    display: inline-block;
    width: 5rem;
    height: 1rem;
    padding: 10px;
    background-color: #e0ffe7;
    border: 1px solid #166534;
    border-radius: 5px;
    color: #166534;
    font-family:'Courier New', Courier, monospace;
    cursor: pointer;
    font-size: 12px;
    font-weight: 800;
}

.logbutton {
    position: absolute;
    bottom: -0.6rem;
    right: -1.7rem;
    width: 7rem;
    height: 1.5rem;
    background-color: #e0ffe7;
    color: #166534;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.close-icon {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 0.6rem;
    right: 1rem;
    cursor: pointer;
}

.add_icon {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 0.6rem;
    right: 3rem;
    cursor: pointer;
}