.slate{
    margin: 60px;
    padding: 24px;
    box-sizing: border-box;
    height: 5rem;
    width: 42rem;
    background-color: #003414;
    display: flex;
    justify-content:space-between;
    gap: 10px;
    align-items: center;
    color: #e0ffe7;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.indicator{
    height: 18px;
    width:50px;
    background: #3f7554;
    color: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 20px;
    text-align: center;
    box-sizing: border-box;
    /* padding: 2px; */
    font-size: 12px;
}

.rightside{
    display: flex;
    gap:10px;
    align-items: center;
}

.leftside{
    display: flex;
    flex-direction: column;
    gap:5px;
    align-items:start;
}